body {
    padding-top: 40px;
    background-color: ghostwhite;
}
p {
    font-size: 16px;
}
#billHist {
    padding-bottom: 100px;
}
.moreDesc {
    font-size: 11px;
}
.navbar-text > a {
    text-decoration: none;
    color: inherit;
}
.navbar-text > a:hover {
    text-decoration: none;
    color: green;
}
.list li {
    list-style-type: square;
    margin-left: -25px;
}
.content {
    margin-top: 5em;
}
.user {
    color: white;
}
.warning, div.error, span.error {
    color: red;
    font-weight: bold;
}
span.error {
    padding-left: 10px;
}
.success {
    color: green;
}
.center {
    text-align: center;
}
.bills {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.payBtn {
    margin-left: 25px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
@media (min-width: 980px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
@media (max-width: 979px) {
    body {
        padding-bottom: 90px;
    }
    #portrait {
        width: 22em;
    }
    #aboutDesc {
        padding-top: 7px;
        font-size: 16px;
    }
    .dropdown: {
        display: block;
        margin-top: 0;
    }
}
