{% include 'temp/head.html'%}
    {% include 'temp/header.html' %}
    <div id="billHist" class="content container">
        <h1>{{curUser}}'s Billing History</h1>
        {% if bList %}
            <div class="col-sm-6">
                <h2>Paid</h2>
                {% for b in bList %}
                    {% if b.bPaid %}
                        <h4><a href="/bill/{{b.key.id()}}">{{b.bName}}</a><br />&nbsp; Paid: {{b.bPayDate.strftime('%B %d %Y')}}</h4>
                    {% endif%}
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <h2>Unpaid</h2>
                {% for b in bList %}
                    {% if not b.bPaid %}
                        <h4><a href="/bill/{{b.key.id()}}">{{b.bName}}</a><br />&nbsp;  Due: {{b.bDate.strftime('%B %d %Y')}}</h4>
                    {% endif%}
                {% endfor %}
            </div>
        {% else %}
            <h3>No bills found!</h3>
        {% endif %}
    </div>
    {% include 'temp/footer.html' %}
{% include 'temp/end.html' %}
