<h1>You've got bill!</h1>
<!-- <div class="col-md-6">
    <img class="img" ng-src="{{rep.img}}" />
</div>
<div class="col-md-6">
    <h1>{{rep.rName}}</h1>
    <h3>{{rep.position}} (<span ng-if="rep.party == 'Democrat'">D</span>-{{rep.state}})</h3>
    <h5 ng-if="rep.endorse == 1">Publicly Endorsed Bernie Sanders.</h5>
    <h5 ng-if="rep.endorse == 0">Not yet publicly endorsed Bernie Sanders.</h5>
    Platform: {{rep.platform}}<br />
    <div id="video">
        <iframe id="videoEmb" ng-src="{{rep.video | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
</div><br /> -->
