<div class="col-md-offset-2">
    <div class="col-sm-6">
        <form ng-submit="billSubmit()" action="/newBill" method="post">
            <h1>Add New Bill</h1>
            Bill Name: &nbsp;
            <input type="text" ng-model="bName" name="bName"/><br/><br/>
            Next Bill Date:
            <input type="date" ng-model="bDate" name="bDate"/><br/><br/>
            Repeat: &nbsp;
            <select ng-model="bRepeat" name="bRep">
                <option>Pick</option>
                <option value="never">Never</option>
                <option value="week">Weekly</option>
                <option value="month">Monthly</option>
                <option value="yearly">Yearly</option>
                <option value="other">Other</option>
            </select><br/><br/>
            <!-- IDEA: Use angular "if other, load new data inputs for it" -->
            <!-- IDEA: "Every:" text > select{days, months, years} -->
            Bill Amount: &nbsp;
            <input ng-model="bAmt" type="text" name="bAmt"/><br/><br/>
            <!-- IDEA: Tooltips -->
            <span name="bDateFilter" style="display:none;">{a bDate | date: "dd/MM/yyyy" a}</span>
            <input type="submit"/>
        </form>
    </div>
    <div class="col-sm-6">
        <h1>Bill Preview</h1>
        <div class="col-sm-offset-1">
            <h4>{a bName a}</h4>
            <h4>
                {a bDate | date: "EEEE, MM/dd/yyyy" a}
            </h4>
            <h4>
                <span ng-if="bRepeat == 'month' || bRepeat == 'week' || bRepeat == 'year'">Due every {a bRepeat a}</span>
                <span ng-if="bRepeat == 'never'">One-time Bill</span>
                <span ng-if="bRepeat == 'other'">We'll figure this out later ;)</span>
            </h4>
            <div ng-if="bAmt != null">
                <h4>${a bAmt a}</h4>
            </div>
        </div>
    </div>
</div>
