{% include 'temp/head.html' %}
    {% include 'temp/header.html' %}
    <div class="container content">
        <div class="col-sm-offset-2">
            {% if error == "uDup" %}
                <h2 class="warning">{{ userFail }} has not been created!</h2>
                <h4>User already exists!</h4>
            {% endif %}
            {% if error == "noUsers" %}
                <h2 class="warning">No users found!</h2>
                <h4>Please register for an account below.</h4>
            {% endif %}
            {% if error == "uNotFound" %}
                <h2 class="warning">{{ userFail }} has not been logged in!</h2>
                <h4>User not found! Please register for an account below.</h4>
            {% endif %}
            {% if curUser %}
                You are already logged in!
            {% else %}
                <h1>Register</h1>
                <form id="reg" action="/reg" method="post" name="register">
                    <label for="user"> Username:</label>
                        <input type="text" name="user" id="user" required/><br>
                    <label for="pass"> Password:</label>
                        <input type="password" name="pass" id="pass" required/><br>
                    <label for="conf"> Confirm Password:</label>
                        <input type="password" name="conf" id="conf" required/><br>
                    <input type="submit" />
                </form>
            {% endif %}
        </div>
    </div>
    {% include 'temp/footer.html' %}
{% include 'temp/end.html' %}
